{{ define "Header" }}
---- {{.Header.Company}} ----
Date: {{.Header.FormatDate}}
Currency: {{.Header.FormatCurrency}}
{{ end }}

{{ template "Header" . }}

---- Employee Performance Report ----

{{range $key, $val := .Employees}}
Name : {{$key}}
Position : {{$val.Position}}
Performance : {{$val.Performance}}
{{end}}

Employees with highest Performance are 

{{range $key, $val := .Employees}}
    {{if gt $val.Performance 75}}
Name : {{$key}}
Position : {{$val.Position}}
Performance : {{$val.Performance}}
    {{end}}
{{end}}